* {
    box-sizing: border-box;   -webkit-box-sizing: border-box;   -moz-box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;

    body {
        margin: 0;
        background: @light-grey;
    }
}



.pagewrap {
    width: 800px;
    margin: 0 auto;
    position: relative;
}

#wpadminbar  {
    display: none;
}


@media (max-width: 1025px) {

    .pagewrap {
        width: 100%;
        margin: 0;
    }
}