.employee {
    background: #fff;
    border-left: 3px solid @red;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    padding: 24px;
    width: 220px;
    font-family: @condensed;
    font-size: 14px;

    .employee__image {
        width: 128px;
        height: 128px;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: #ddd;
        margin: 0 auto 24px auto;
    }

    .employee__text {
        text-align: center;

        .employee__name {
            font-weight: 700;
        }

        .employee__email {

        }
    }
}