.section {
    padding: 60px 0;
    border-bottom: @border-light;

    .intro {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 36px;
    }

    &.section--centered {
        text-align: center;
    }
}