.single--case {

    .case__header {
        margin: 0 -100px 40px -100px;
        width: ~'calc(100% + 200px)';

        .case__header-main {
            text-align: center;
            max-width: 100%;
            color: #fff;
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            height: 500px;
            background-color: #000;
            padding: 20px;
            position: relative;

            .image-payoff {
                position: absolute;
                right: 12px;
                bottom: 12px;
            }

            .case__header-text {
                max-width: 700px;
                margin: 0 auto;
                text-shadow: 1px 1px 2px rgba(0,0,0,0.2);

                h1 {
                    font-weight: 400;
                    font-size: 50px;
                    line-height: 1;
                    margin: 0 0 10px 0;
                    font-family: @serif;
                }

                h2 {
                    font-family: @serif;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 1.2;
                    margin: 0;
                    //color: @red;
                }
            }
        }

        .case__client-container {
            background: #fff;
        }
    }

    .case__intro {
        font-family: @serif;
        font-size: 20px;
        margin-bottom: 40px;
    }

    .case__video {
        background: #ddd;
        margin-bottom: 40px;
        position: relative;
    }



    .case__testimonial {
        margin-top: 60px;

        .testimonial {
            width: 100%;
        }
    }

    @media @laptop {

        .case__header {
            margin: 0 -50px 40px -50px;
            width: ~'calc(100% + 100px)';
        }
    }
}