.single--case {

    .page__header {

        .case__client-container {
            background: #fff;
        }
    }

    .case__intro {
        font-family: @serif;
        font-size: 24px;
        margin-bottom: 80px;
    }

    .case__team {
        margin-bottom: 20px;
        border-left :2px solid #000;
        padding: 12px 24px;
        font-family: @serif;
        background: #fff;
    }

    .case__site {
        margin-bottom: 20px;

        a {
            background: @yellow;
            padding: 10px;
            color: #000;
            display: block;
            text-decoration: none;
        }
    }

    .case__video {
        background: #ddd;
        margin-top: 60px;
        margin-bottom: 40px;
        position: relative;
    }

    .case__body {

        h3 {
            font-family: @serif;
            font-weight: 700;
            text-align: center;
            font-size: 25px;
            width: 440px;
            margin: 40px auto 20px auto;
            line-height: 1.2;
        }

        p {
            font-size: 20px;
            width: 600px;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        .case__frame {
            background: #fff;
            padding: 20px;
            margin: 60px 0;
        }
    }


    @media @laptop {

        .page__header {
            margin: 0 -50px 40px -50px;
            width: ~'calc(100% + 100px)';
        }
    }
}