.single--case {

    .page__header {

        .case__client-container {
            background: #fff;
        }
    }

    .case__intro {
        font-family: @serif;
        font-size: 20px;
        margin-bottom: 40px;
    }

    .case__video {
        background: #ddd;
        margin-bottom: 40px;
        position: relative;
    }



    .case__testimonial {
        margin-top: 60px;

        .testimonial {
            width: 100%;
        }
    }

    @media @laptop {

        .page__header {
            margin: 0 -50px 40px -50px;
            width: ~'calc(100% + 100px)';
        }
    }
}