#canvas-map {
    width: 100%;
    height: 300px;
    border: 0!important;
}

.page-template-template--contact {

    .footer {
        margin-top: 0;

        .footer__container {

            .footer__row {

                .footer__col {
                    font-size: 14px;
                }
            }
        }
    }
}