.template--pillar {

    .page__header {
        margin: 0 0 40px 0;
        width: 100%;

        .page__header-main {
            border: 2px solid #000;
            border-top: 0;
            height: 400px;
        }
    }

    h1 {
        text-align: center;
        font-family: @serif;
        font-weight: 400;
    }
}