.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(245,245,245, 0);
    z-index: 10;
    height: 104px;
    transition: all 0.2s ease;
    pointer-events: none;

    .languages, .hamburger {
        pointer-events: all;
    }

    .identity {
        display: flex;
        align-items: center;
        pointer-events: all;

        .identity__slogan {
            position: absolute;
            left: 96px;
            top: 16px;
            opacity: 0;
            transition: all 0.2s ease;
            font-size: 13px;
        }
    }

    .header__page-title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-family: @serif;
        opacity: 0;
        transition: all 0.2s ease;
    }

    &.header--small {
        overflow: hidden;
        height: 54px;
        background: rgba(245,245,245, 1);
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
        pointer-events: all;

        .header__page-title {
            opacity: 1;
        }

        .innouveau-logo {

            h3 {
                opacity: 0;
            }

            h4 {
                opacity: 0;
            }
        }

        &.header--small--delay {

            .identity__slogan {
                opacity: 1;
            }
        }
    }

    @media (max-width: @mobile) {

        .header__page-title {
            font-size: 14px;
        }

        .identity {

            .identity__slogan {
                display: none;
            }
        }

        &.header--small {

            .innouveau-logo {

                h3, h4 {
                    display: none;
                }
            }

            &.header--small--delay {

                .identity__slogan {
                    opacity: 1;
                }
            }
        }
    }
}

body.home {

    .header__page-title {
        display: none;
    }
}