.testimonial {
    width: 500px;

    .testimonial__main {
        background: #fff;
        padding: 24px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        border-left: 2px solid @red;

        .testimonial__client {
            font-family: 'Roboto Condensed', serif;
            font-size: 13px;
            margin-right: 32px;
            display: flex;
            align-items: center;

            .testimonial__avator {
                width: 96px;
                height: 96px;
                border-radius: 50%;
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                margin-right: 12px;
            }

            .testimonial__client-description {
                color: @red;
                width: ~'calc(100% - 120px)';

                .testimonial__client-name {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 1.2;
                }

                .testimonial__client-position {
                }
            }
        }

        .testimonial__quote {
            font-size: 20px;
            line-height: 1.2;
            font-weight: 500;
            margin-bottom: 30px;
            font-family: @serif;

            p {

                &:first-child {
                    margin-top: 0;
                    font-size: inherit;
                }
            }
        }
    }

    .testimonial__footer {
        text-align: right;
        font-size: 14px;

        a {
            color: @red;
        }
    }
}

.testimonial__container {
    display: flex;
    justify-content: center;
}

.case__testimonial {
    margin: 60px 0;

    .testimonial {
        width: 100%;
    }

    &.testimonial--1 {


        .testimonial {
            width: 400px;
            max-width: 100%;

            .testimonial__main {
                padding: 20px;

                .testimonial__quote {
                    font-size: 14px;
                }

                .testimonial__client {
                    font-size: 11px;

                    .testimonial__avator {
                        width: 48px;
                        height: 48px;
                    }

                    .testimonial__client-description {

                        .testimonial__client-name {
                            font-size: 16px;

                        }
                    }
                }
            }
        }
    }
}


.testimonial-home {
    display: flex;
    align-items: center;

    .testimonial-home__container {
        max-width: 100%;
        margin: 0 auto;

        .testimonial-home__statement {
            margin-bottom: 30px;
            font-size: 18px;
            text-align: center;
            font-weight: 700;
        }
    }

    .testimonial-home__more {
        text-decoration: none;
        width: 100px;
        text-align: center;
        line-height: 1.2;
        color: #888;

        .arrow-link {
            margin: 8px 0 0 0;
        }
    }
}

